body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
}

label {
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #333;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3366cc;
  color: #ffffff;
}

#downloadModal {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.btn-primary {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #fff !important;
  border-color: #fff !important;
}

.btn-primary img {
  border-radius: 50%;
}

.modal {
  position: static !important;
}